olake
.vscode
test
.DS_Store
__debug_bin*
go.sum
go.work.sum
*/**/examples
debezium-server-iceberg-sink-0.0.1-SNAPSHOT.jar
destination/iceberg/debezium-server-iceberg-sink/target/
destination/iceberg/debezium-server-iceberg-sink/target/**/
destination/iceberg/local-test/data/
debezium-server-iceberg-sink.jar
local-releaser.sh
destination/iceberg/debezium-server-iceberg-sink/.idea/
destination/iceberg/debezium-server-iceberg-sink/dependency-reduced-pom.xml
